body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #421414;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: auto;
  background-repeat: repeat;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
}
